<div class="container">

        <div class="userinfo">
            <div class="usercontact">
                <div class="userphoto">
                    <img src="../assets/images/user-photo.jpg">
                 </div>
                <div class="usericons"> 
                    <h4>OPEN</h4>
                    <div class="icons2">
                   <h4><img src="../assets/images/icon-mail.png"></h4>
                   <h4><img src="../assets/images/icon-views2.png"> 21</h4>

                    
                    </div>
                 </div>
            </div>
            <div class="userbio">
                <h2>Bobs Bakery</h5>
                <h5>Detroit, MI</h3>
                <a href="#">vectornpixel.com</a>
                <p><b>Industry: </b>Bakery, Food</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut augue vitae quam vehicula tincidunt. Integer dictum condimentum arcu at pellentesque.</p>
            </div>
        </div>
        <div class="clearfix"></div>
      <!-- Example row of columns -->
      <hr>
            <ul class="category center2">
                
             
              <li class="mainbtn"><a href="#">Portfolio</a></li>
              <li class="mainbtn"><a href="#">Projects</a></li>

  
            </ul>
   <div class="clearfix"></div>
   <div class="row">
        <div class="col-md-6">
            <ul class="job">
                <li class="job-info">
                    <h4>Wordpress Design</h4>
                    <p>In need of Wordpress Design for bakery.</p>
                </li>
                <li class="pull-right"> 
              
                    <span class="applybtn"><a href="#">APPLY</a></span>
                  
                </li>
            </ul>
             
        </div>

    </div>
      



    </div> <!-- /container -->

