
        <div class="container">

          <header class="title">
          <h2><b>Local Businesses</b></h2>
        </header>
        
          <div class="hero-unit">
          <h2>Businesses looking for Design Services</h2>
        </div>
        <h4>TOP BUSINESS INDUSTRIES</h4>
          <ul class="category center2">
          
          
         <li class="mainbtn"><a href="#">Medical</a></li>
              <li class="mainbtn"><a href="#about">real estate</a></li>
              <li class="mainbtn"><a href="#contact">fashion</a></li>
              <li class="mainbtn"><a href="#">entertainment</a></li>
              <li class="mainbtn"><a href="#about">restaurant</a></li>
          
        </ul>
        
        
          <div class="row" >
            <div class="col-md-3">
              <div class="item">
                <div class="thumb">
                <a href="#"><img src="../assets/images/holder-item.jpg"></a>
                  <div class="info">
                  <h2>Injustice</h2>
                </div>
              </div>

            </div>
          </div>
              <div class="col-md-3">
                  <div class="item">
                      <div class="thumb">
                          <a href="#"><img src="../assets/images/holder-item.jpg"></a>
                          <div class="info">
                              <h2>Injustice</h2>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <div class="thumb">
                          <a href="#"><img src="../assets/images/holder-item.jpg"></a>
                          <div class="info">
                              <h2>Injustice</h2>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="item">
                      <div class="thumb">
                          <a href="#"><img src="../assets/images/holder-item.jpg"></a>
                          <div class="info">
                              <h2>Injustice</h2>
                          </div>
                      </div>

                  </div>
              </div>
      
        </div>
       
        <hr>
        </div> 
