    <div class="container">

            <header class="title">
                 <h2><b>Active Projects</b></h2>
            </header>

            <h4>LOCATION: MICHIGAN - <a href="#">CHANGE LOCATION</a></h4>
    
          <div class="row">
            <div class="col-md-3">
                 <div class="job text-center">
                     <h3>Bobs Doughnuts</h3>
                     <p>Web Designer</p>
                     <p>DETROIT, MI</p>
                     <h4>Wordpress Design</h4>
                     <p>In need of Wordpress Design for bakery.</p>
                     <hr>
                     <button class="removebtn btn btn-default">VIEW PROJECT</button>
                </div>
            </div>
              <div class="col-md-3">
                  <div class="job text-center">
                      <h3>Bobs Doughnuts</h3>
                      <p>Web Designer</p>
                      <p>DETROIT, MI</p>
                      <h4>Wordpress Design</h4>
                      <p>In need of Wordpress Design for bakery.</p>
                      <hr>
                      <button class="removebtn btn btn-default">VIEW PROJECT</button>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="job text-center">
                      <h3>Bobs Doughnuts</h3>
                      <p>Web Designer</p>
                      <p>DETROIT, MI</p>
                      <h4>Wordpress Design</h4>
                      <p>In need of Wordpress Design for bakery.</p>
                      <hr>
                      <button class="removebtn btn btn-default">VIEW PROJECT</button>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="job text-center">
                      <h3>Bobs Doughnuts</h3>
                      <p>Web Designer</p>
                      <p>DETROIT, MI</p>
                      <h4>Wordpress Design</h4>
                      <p>In need of Wordpress Design for bakery.</p>
                      <hr>
                      <button class="removebtn btn btn-default">VIEW PROJECT</button>
                  </div>
              </div>
          </div>
      

    </div> <!-- /container -->

