<div class="container">

    <div class="row">
        <h2 class="text-center">Add Project</h2>
        <hr>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form>
                    <div class="form-group">
                        <label for="">Project Type</label>
                        <select class="form-control">
                            <option>Web Design</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Project Openings</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Project Description</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>


        </div>
        
        <div class="row">
            <h2 class="text-center">Remove Added Projects</h2>
            <hr>
            <div class="col-md-3">
                <div class="job">
                    <h4 class="text-center">Wordpress Design</h4>
                    <p class="text-center">In need of Wordpress Design for bakery.</p>
                    <a href="#"><button class="removebtn full-width">REMOVE</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="job">
                    <h4 class="text-center">Wordpress Design</h4>
                    <p class="text-center">In need of Wordpress Design for bakery.</p>
                    <a href="#"><button class="removebtn full-width">REMOVE</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="job">
                    <h4 class="text-center">Wordpress Design</h4>
                    <p class="text-center">In need of Wordpress Design for bakery.</p>
                    <a href="#"><button class="removebtn full-width">REMOVE</button></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="job">
                    <h4 class="text-center">Wordpress Design</h4>
                    <p class="text-center">In need of Wordpress Design for bakery.</p>
                    <a href="#"><button class="removebtn full-width">REMOVE</button></a>
                </div>
            </div>
        </div>
    </div>

    </div>