<div class="container">



    <div class="row">
        <h2 class="text-center">Account Information</h2>
        <hr>
        <div class="col-md-offset-4 col-md-4">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">Business Name</label>
                        <input type="" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <input type="" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">State</label>
                        <select class="form-control">
                            <option>MI</option>
                        </select>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="">Business Type</label>
                        <select class="form-control">
                            <option>Bakery</option>
                            <option>Real Estate</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Website</label>
                        <input type="" class="form-control" id="" placeholder="">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Open For Projects
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Closed For Projects
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">Bio</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Update Profile</button>


                </fieldset>
            </form>
        </div>

        </div>
        <div class="row">
            <h2 class="text-center">Change Password</h2>
            <hr>
            <div class="col-md-offset-4 col-md-4">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="">New Password</label>
                            <input type="" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="" class="form-control" id="" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-default">Change Password</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>